@tailwind base;
@tailwind components;
@tailwind utilities;

.font-open {
    font-family: 'Open Sans', Arial, sans-serif;
}

.font-prata {
    font-family: 'Prata', serif;
}

.items {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.items .item {
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}
@media (min-width: 1400px) {
    .item.prev {
        z-index: 2;
        opacity: 0.25;
        transform: translate(-125%, -50%);
    }

    .item.next {
        z-index: 2;
        opacity: 0.25;
        transform: translate(25%, -50%);
    }
}


.items .button-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}

#menu {
    transition: all 500ms ease-in-out
}

.cbx {
    position: absolute;
    margin: -10px;
    border: 2px solid #cca688;
    background: #cca688;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}

.cbx:hover {
    border-color: #cca688;
}

.flip {
    display: block;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 15px;
    height: 15px;
}

#cbx {
    display: none;
}

#cbx:checked + .cbx {
    border-color: #cca688;
}

#cbx:checked + .flip {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.front {
    background: #fff;
    z-index: 1;
}

.back {
    transform: rotateY(180deg);
    background: #cca688;
    color: #fff;
    box-shadow: 0 0 0 1px #cca688;
}

.back svg {
    margin-top: 4px;
    margin-left: 2px;
    fill: none;
}

.back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}
