{% extends 'base.html.twig' %}

{% set bodycss = "overflow-y-hidden" %}
{% set noHeaderBG = true %}
{% set noDivBG = true %}
{% set noNav = true %}
{% block headercss %}absolute z-50 w-full{% endblock %}

{% block body %}
    <div class="flex justify-center h-screen bg-cover bg-center bg-no-repeat" style="background-image:url('{{ asset('build/static/bg_1.jpg') }}')">
        <div data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000" class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
                <div class="flex-1">
                    <div class="text-center">
                        {% if error | default(false) and app.session.get("loginFailedCompteur") < 5 and app.session.get("loginFailedCompteur") > 0  %}
                            <div id="alert-2" class="flex p-4 mb-14 bg-red-100 rounded-lg dark:bg-red-200" role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-red-700 dark:text-red-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Info</span>
                                <div class="ml-3 text-sm font-medium text-red-700 dark:text-red-800">
                                    Tentative restante: {{ app.session.get("loginFailedCompteur") }}/5
                                </div>
                                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-100 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-red-200 dark:text-red-600 dark:hover:bg-red-300" data-dismiss-target="#alert-2" aria-label="Close">
                                    <span class="sr-only">Close</span>
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                            </div>
                        {% endif %}
                        {% if error | default(false) and app.session.get("loginFailedCompteur") == 0 %}
                            <div id="alert-2" class="flex p-4 mb-14 bg-red-200 rounded-lg dark:bg-red-200" role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-red-700 dark:text-red-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Info</span>
                                <div class="ml-3 text-sm font-medium text-red-700 dark:text-red-800">
                                    <span>Votre compte à été bloqué.</span>
                                </div>
                                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-200 text-red-500 hover:bg-red-300 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-red-200 dark:text-red-600 dark:hover:bg-red-300 duration-300" data-dismiss-target="#alert-2" aria-label="Close">
                                    <span class="sr-only">Close</span>
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                            </div>
                        {% endif %}
                        <h2 class="font-prata leading-[35px] tracking-[4px] text-3xl font-bold">SE CONNECTER</h2>
                        <p class="mt-2 text-sm text-black/40 tracking-[2px]">Ravi de vous revoir !</p>
                    </div>
                <div class="mt-8">
                    <form method="post">
                        <div>
                            <label for="email" class="block mb-2 text-[12px] font-semibold tracking-[1.5px]">Adresse-Mail</label>
                            <input type="email" name="email" id="email" value="{{ lastMail }}" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white" />
                        </div>
                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-[12px] font-semibold tracking-[1.5px]">Mot de passe</label>
                                <a href="#" class="text-sm text-gray-400 hover:text-white hover:underline">Mot de passe oublié ?</a>
                            </div>

                            <input type="password" name="password" id="password" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
                        </div>

                        <div class="mt-6">
                            <button
                                    class="w-full px-4 py-2 tracking-[2px] text-white transition-colors transform bg-[#cca688] rounded-full hover:bg-[#8e6f57] focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 duration-300">
                                Connexion
                            </button>
                        </div>
                    </form>
                    <p class="mt-6 text-sm text-center tracking-[1px] text-black/50">Vous n'avez pas de compte ?<a href="{{ path('app_register') }}" class="pl-2 text-[#cca688] focus:outline-none focus:underline hover:underline hover:scale-105">Inscrivez-vous</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

