{% extends 'base.html.twig' %}


{% block body %}
    <main class="absolute z-30 w-full h-auto bg-[#F7F7F7]">
        <div
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="50"
                data-aos-easing="ease-in-out"
                data-aos-anchor-placement="top"
                class="flex justify-between w-3/5 h-[400px] mx-auto my-[120px] text-black laptop:w-4/5 smLaptop:w-11/12 tablet:flex tablet:flex-col tablet:w-full tablet:mb-[450px] phone:w-11/12">
            <div class="h-[250px] my-auto max-w-md space-y-4 tablet:mx-auto tablet:max-w-xl">
                <h1 class="font-prata leading-[35px] tracking-[4px] text-3xl font-bold tablet-text-xl">SPA & BIEN-ÊTRE</h1>
                <p class="py-6 font-semibold laptop:text-sm">Nos praticiennes vous offres  le plaisir de découvrir nos Rituels Corps d'1h à 1h30 en collaboration avec Rituals et Nuxe Spa, parfait pour vous détendre et vous délasser entre nos mains experte entre un soin visage et soins corps.</p>
                <a href="#" class="border bg-[#cca688] px-4 py-2 rounded-full text-white text-sm tracking-[2px] hover:bg-transparent hover:border-[#cca688] hover:border hover:text-[#cca688] duration-300 laptop:text-sm smLaptop:text-xs">DÉCOUVRIR NOS SOINS CORPS</a>
                <p class="pt-5 laptop:text-sm text-black/50 font-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nesciunt, amet officia soluta, dolores dolor?</p>
                <div class="flex space-x-3">
                    <a href=""><i class="fa-brands fa-instagram text-xl text-[#cca688] hover:text-[#ff653c] bg-[#cca688]/40 py-3.5 px-4 rounded-full duration-300"></i></a>
                    <a class="hover:" href=""><i class="fa-brands fa-facebook text-xl text-[#cca688] hover:text-[#ff653c] bg-[#cca688]/40 py-3.5 px-4 rounded-full duration-300"></i></a>
                </div>
            </div>
            <div class="flex space-x-7 tablet:flex-row tablet:mx-auto tablet:mt-20 phone:w-11/12 phone:space-x-2 phone:mt-28">
                <div class="w-[250px] h-[350px] bg-cover bg-center mt-10 rounded-xl smLaptop:w-[220px] tablet:w-[250px] tablet:basis" style="background-image:url('{{ asset('build/static/about_1.jpg') }}')"></div>
                <div class="w-[250px] h-[350px] bg-cover bg-center rounded-xl smLaptop:w-[220px] tablet:w-[250px] tablet:basis" style="background-image:url('{{ asset('build/static/about_2.jpg') }}')"></div>
            </div>
        </div>
        <div
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="50"
                data-aos-easing="ease-in-out"
                data-aos-anchor-placement="top"
                class="relative w-3/5 h-[60px] text-black mx-auto laptop:w-4/5">
            <h1 class="font-prata text-3xl tracking-[2px] font-bold text-center phone:text-2xl">NOS SERVICES</h1>
            <a class="absolute right-0 top-5 float-right bg-[#cca688] border rounded-full px-4 py-2 tracking-[2px] text-white text-sm hover:bg-transparent hover:border-[#cca688] hover:border hover:text-[#cca688] duration-300 cursor-pointer smLaptop:top-0 phone:text-xs phone:top-20">VOIR PLUS</a>
            <div class="w-32 border-t-2 border-[#cca688] mx-auto mt-5 rounded-full"></div>
        </div>
        <div
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-anchor-placement="top-bottom"
                class="flex justify-between max-w-[1200px] h-[200px] mt-10 mx-auto space-x-8 laptop:max-w-[1100px] smLaptop:h-[700px] smLaptop:grid smLaptop:grid-cols-2 smLaptop:gap-y-[150px] smLaptop:space-x-0 tablet:gap-y-[100px] phone:grid-cols-1 phone:mt-20 phone:gap-y-[150px] phone:h-[150px]">
            <div class="hidden laptop:hidden smLaptop:block">
                <div class="w-[30%] h-full text-center space-y-2 smLaptop:w-3/5 smLaptop:h-[200px] smLaptop:mx-auto tablet:w-4/5">
                    <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                    <h1 class="text-xl font-semibold">Body Shrub</h1>
                    <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="hidden aptop:hidden smLaptop:block">
                <div class="w-[30%] h-full text-center space-y-2 smLaptop:w-3/5 smLaptop:h-[200px] smLaptop:mx-auto tablet:w-4/5">
                    <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                    <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                    <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="hidden laptop:hidden smLaptop:block">
                <div class="w-[30%] h-full text-center space-y-2 smLaptop:w-3/5 smLaptop:h-[200px] smLaptop:mx-auto tablet:w-4/5">
                    <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                    <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                    <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="hidden laptop:hidden smLaptop:block">
                <div class="w-[30%] h-full text-center space-y-2 smLaptop:w-3/5 smLaptop:h-[200px] smLaptop:mx-auto tablet:w-4/5">
                    <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                    <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                    <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="w-[30%] h-full text-center space-y-2 smLaptop:hidden">
                <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="w-[30%] text-center space-y-2 smLaptop:hidden">
                <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="w-[30%] h-full text-center space-y-2 smLaptop:hidden">
                <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="w-[30%] h-full text-center space-y-2 smLaptop:hidden">
                <div class="w-full h-full bg-cover bg-center rounded-lg mb-4" style="background-image:url('{{ asset('build/static/image1.jpeg') }}')"></div>
                <h1 class="font-playfair text-xl font-semibold">Body Shrub</h1>
                <p class="text-black/40">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="relative w-full h-[700px] mb-[100px] mt-[200px] bg-no-repeat bg-cover bg-center bg-fixed after:absolute after:content-[''] after:bg-black/60 after:top-0 after:bottom-0 after:left-0 after:right-0 after:w-full laptop:h-[1200px] laptop:mt-[200px] tablet:bg-local phone:h-[2150px] phone:mt-[1300px]" style="background-image:url('{{ asset('build/static/hero_1.jpg') }}')">
            <div class="absolute z-[70] w-full top-1/2 -translate-y-1/2 mx-auto other:-translate-x-[60%] laptop:-translate-x-[0%]">
                <h1 class="text-white text-center font-prata tracking-[4px] font-bold text-3xl phone:text-3xl phone:mt-16">PASS BEAUTÉ</h1>
                <div class="w-24 border-t-4 border-[#cca688] mt-4 rounded-full mx-auto phone:w-20"></div>
                <div class="grid grid-rows-1 grid-flow-col justify-between mt-[50px] mx-[140px] laptop:grid-rows-2 laptop:mx-[230px] smLaptop:mx-[100px] tablet:mx-[40px] phone:grid-rows-4">
                    <div>
                        <div class="flex flex-col w-80 h-[500px] text-center mx-auto phone:w-full hover:scale-105 duration-300">
                            <div class="w-full h-auto bg-white rounded-t-xl pt-2">
                                <h1 class="mt-8 font-prata font-semibold text-3xl text-black/60 tracking-[2px] tablet:text-2xl">PASS CUIVRÉ</h1>
                                <h1 class="mt-5 relative font-prata font-semibold text-[40px] text-[#cca688] tracking-[2px] tablet:text-[35px] tablet:mt-3">49<span class="absolute top-0 text-[20px]">€</span></h1>
                            </div>
                            <div class="w-full bg-white rounded-b-xl text-[14px] pb-8 text-black/60 tracking-[2px]">
                                <h1 class="mb-3 font-prata font-semibold text-lg text-black/40 tracking-[2px] tablet:text-base">Pour une durée de 1h45</h1>
                                <div class="w-24 border-t-2 border-[#cca688] mx-auto mb-4 rounded-full laptop:mx-auto phone:w-20"></div>
                                <p class="tablet:text-sm">Manucure / Pedicure</p>
                                <span class="text-[#cca688] text-[12px]">ou</span>
                                <p class="tablet:text-sm">Vernis permanent ou classique</p>
                                <span class="text-[#cca688] text-[12px]">+</span>
                                <p class="tablet:text-sm">Épilation forfait classique <br> / <br> Brésilien toutes zones</p>
                                <p class="w-64 mx-auto mt-5 text-[10px] text-[#cca688] tablet:w-full">Tisane apaisante pour prolonger l'instant présent</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex flex-col w-80 h-[500px] text-center border-white/20 mx-auto phone:w-full hover:scale-105 duration-300">
                            <div class="w-full h-auto bg-white rounded-t-xl pt-2">
                                <h1 class="mt-8 font-prata font-semibold text-3xl text-black/60 tracking-[2px] tablet:text-2xl">PASS CUIVRÉ</h1>
                                <h1 class="mt-5 relative font-prata font-semibold text-[40px] text-[#cca688] tracking-[2px] tablet:text-[35px] tablet:mt-3">49<span class="absolute top-0 text-[20px]">€</span></h1>
                            </div>
                            <div class="bg-white rounded-b-xl text-[14px] pb-8 text-black/60 tracking-[1px]">
                                <h1 class="mb-3 font-prata font-semibold text-lg text-black/40 tracking-[2px] tablet:text-base">Pour une durée de 1h45</h1>
                                <div class="w-24 border-t-2 border-[#cca688] mx-auto mb-4 rounded-full laptop:mx-auto phone:w-20"></div>
                                <p class="tablet:text-sm">Manucure / Pedicure</p>
                                <span class="text-[#cca688] text-[12px]">ou</span>
                                <p class="tablet:text-sm">Vernis permanent ou classique</p>
                                <span class="text-[#cca688] text-[12px]">+</span>
                                <p class="tablet:text-sm">Épilation forfait classique <br> / <br> Brésilien toutes zones</p>
                                <p class="w-64 mx-auto mt-5 text-[10px] text-[#cca688] tablet:w-full">Tisane apaisante pour prolonger l'instant présent</p>
                            </div>
                        </div>
                    </div><div>
                        <div class="flex flex-col w-80 h-[500px] text-center border-white/20 mx-auto phone:w-full hover:scale-105 duration-300">
                            <div class="w-full h-auto bg-white rounded-t-xl pt-2">
                                <h1 class="mt-8 font-prata font-semibold text-3xl text-black/60 tracking-[2px] tablet:text-2xl">PASS CUIVRÉ</h1>
                                <h1 class="mt-5 relative font-prata font-semibold text-[40px] text-[#cca688] tracking-[2px] tablet:text-[35px] tablet:mt-3">49<span class="absolute top-0 text-[20px]">€</span></h1>
                            </div>
                            <div class="bg-white rounded-b-xl text-[14px] pb-8 text-black/60 tracking-[2px]">
                                <h1 class="mb-3 font-prata font-semibold text-lg text-black/40 tracking-[2px] tablet:text-base">Pour une durée de 1h45</h1>
                                <div class="w-24 border-t-2 border-[#cca688] mx-auto mb-4 rounded-full laptop:mx-auto phone:w-20"></div>
                                <p class="tablet:text-sm">Manucure / Pedicure</p>
                                <span class="text-[#cca688] text-[12px]">ou</span>
                                <p class="tablet:text-sm">Vernis permanent ou classique</p>
                                <span class="text-[#cca688] text-[12px]">+</span>
                                <p class="tablet:text-sm">Épilation forfait classique <br> / <br> Brésilien toutes zones</p>
                                <p class="w-64 mx-auto mt-5 text-[10px] text-[#cca688] tablet:w-full">Tisane apaisante pour prolonger l'instant présent</p>
                            </div>
                        </div>
                    </div><div>
                        <div class="flex flex-col w-80 h-[500px] text-center border-white/20 mx-auto phone:w-full hover:scale-105 duration-300">
                            <div class="w-full h-auto bg-white rounded-t-xl pt-2">
                                <h1 class="mt-8 font-prata font-semibold text-3xl text-black/60 tracking-[2px] tablet:text-2xl">PASS CUIVRÉ</h1>
                                <h1 class="mt-5 relative font-prata font-semibold text-[40px] text-[#cca688] tracking-[2px] tablet:text-[35px] tablet:mt-3">49<span class="absolute top-0 text-[20px]">€</span></h1>
                            </div>
                            <div class="bg-white rounded-b-xl text-[14px] pb-8 text-black/60 tracking-[2px]">
                                <h1 class="mb-3 font-prata font-semibold text-lg text-black/40 tracking-[2px] tablet:text-base">Pour une durée de 1h45</h1>
                                <div class="w-24 border-t-2 border-[#cca688] mx-auto mb-4 rounded-full laptop:mx-auto phone:w-20"></div>
                                <p class="tablet:text-sm">Manucure / Pedicure</p>
                                <span class="text-[#cca688] text-[12px]">ou</span>
                                <p class="tablet:text-sm">Vernis permanent ou classique</p>
                                <span class="text-[#cca688] text-[12px]">+</span>
                                <p class="tablet:text-sm">Épilation forfait classique <br> / <br> Brésilien toutes zones</p>
                                <p class="w-64 mx-auto mt-5 text-[10px] text-[#cca688] tablet:w-full">Tisane apaisante pour prolonger l'instant présent</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full h-[370px] phone:h-[400px]">
            <div
                    data-aos="fade-down"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-anchor-placement="top-bottom"
                    class="w-3/5 mx-auto text-center">
                <h1 class="font-prata font-bold text-3xl tracking-[4px]">TÉMOIGNAGES</h1>
                <div class="border-2 border-[#cca688] w-32 mt-3 mx-auto"></div>
            </div>
            <div
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-anchor-placement="top-bottom"
                    class="items">
                <div class="w-[600px] h-[250px] item active rounded-md bg-white border text-center other:w-[550px] laptop:w-[600px] tablet:w-[500px] phone:w-[400px] phone:h-[250px] smPhone:w-[300px]">
                    <div class="flex">
                        <div class="w-12 h-12 phone:w-10 phone:h-10 bg-cover rounded-full ml-5 mt-5 phone:mt-8" style="background-image:url('{{ asset('build/static/person_3.jpg') }}')"></div>
                        <h1 class="font-prata tracking-[3px] font-bold text-lg mt-[33.5px] ml-5 tablet:text-xl phone:text-lg phone:ml-3">Mike Fisher</h1>
                        <div class="float-right flex items-center ml-auto mt-[30px] mr-10 phone:mt-10 phone:mr-4">
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-gray-300 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                    </div>
                    <p class="max-w-lg font-bold text-[15.1px] leading-6 tracking-[0.5px] text-black/60 mt-5 mx-auto tablet:text-sm tablet:max-w-md phone:max-w-sm smPhone:max-w-xs phone:mt-8">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloribus ducimus necessitatibus voluptatibus minus, hic saepe deleniti, numquam officia itaque quibusdam consequuntur error ipsa inventore provident aperiam cum est. Quis?"</p>
                </div>
                <div class="w-[600px] h-[250px] item next rounded-md bg-white border text-center other:w-[550px] tablet:w-[500px] phone:w-[400px] phone:h-[250px] smPhone:w-[300px]">
                    <div class="flex">
                        <div class="w-12 h-12 phone:w-10 phone:h-10 bg-cover rounded-full ml-5 mt-5 phone:mt-8" style="background-image:url('{{ asset('build/static/person_3.jpg') }}')"></div>
                        <h1 class="font-prata tracking-[3px] font-bold text-lg mt-[33.5px] ml-5 tablet:text-xl phone:text-lg phone:ml-3">Mike Fisher</h1>
                        <div class="float-right flex items-center ml-auto mt-[30px] mr-10 phone:mt-10 phone:mr-4">
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-gray-300 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                    </div>
                    <p class="max-w-lg font-bold text-[15.1px] leading-6 tracking-[0.5px] text-black/60 mt-5 mx-auto tablet:text-sm tablet:max-w-md phone:max-w-sm smPhone:max-w-xs phone:mt-8">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloribus ducimus necessitatibus voluptatibus minus, hic saepe deleniti, numquam officia itaque quibusdam consequuntur error ipsa inventore provident aperiam cum est. Quis?"</p>
                </div>
                <div class="w-[600px] h-[250px] item rounded-md bg-white text-center border other:w-[550px] tablet:w-[500px] phone:w-[400px] phone:h-[250px] smPhone:w-[300px]">
                    <div class="flex">
                        <div class="w-12 h-12 phone:w-10 phone:h-10 bg-cover rounded-full ml-5 mt-5 phone:mt-8" style="background-image:url('{{ asset('build/static/person_3.jpg') }}')"></div>
                        <h1 class="font-prata tracking-[3px] font-bold text-lg mt-[33.5px] ml-5 tablet:text-xl phone:text-lg phone:ml-3">Mike Fisher</h1>
                        <div class="float-right flex items-center ml-auto mt-[30px] mr-10 phone:mt-10 phone:mr-4">
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-gray-300 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                    </div>
                    <p class="max-w-lg font-bold text-[15.1px] leading-6 tracking-[0.5px] text-black/60 mt-5 mx-auto tablet:text-sm tablet:max-w-md phone:max-w-sm smPhone:max-w-xs phone:mt-8">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloribus ducimus necessitatibus voluptatibus minus, hic saepe deleniti, numquam officia itaque quibusdam consequuntur error ipsa inventore provident aperiam cum est. Quis?"</p>
                </div>
                <div class="w-[600px] h-[250px] item rounded-md bg-white border text-center other:w-[550px] tablet:w-[500px] phone:w-[400px] phone:h-[250px] smPhone:w-[300px]">
                    <div class="flex">
                        <div class="w-12 h-12 phone:w-10 phone:h-10 bg-cover rounded-full ml-5 mt-5 phone:mt-8" style="background-image:url('{{ asset('build/static/person_3.jpg') }}')"></div>
                        <h1 class="font-prata tracking-[3px] font-bold text-lg mt-[33.5px] ml-5 tablet:text-xl phone:text-lg phone:ml-3">Mike Fisher</h1>
                        <div class="float-right flex items-center ml-auto mt-[30px] mr-10 phone:mt-10 phone:mr-4">
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-gray-300 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                    </div>
                    <p class="max-w-lg font-bold text-[15.1px] leading-6 tracking-[0.5px] text-black/60 mt-5 mx-auto tablet:text-sm tablet:max-w-md phone:max-w-sm smPhone:max-w-xs phone:mt-8">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloribus ducimus necessitatibus voluptatibus minus, hic saepe deleniti, numquam officia itaque quibusdam consequuntur error ipsa inventore provident aperiam cum est. Quis?"</p>
                </div>
                <div class="w-[600px] h-[250px] item prev rounded-md bg-white text-center border other:w-[550px] tablet:w-[500px] phone:w-[400px] phone:h-[250px] smPhone:w-[300px]">
                    <div class="flex">
                        <div class="w-12 h-12 phone:w-10 phone:h-10 bg-cover rounded-full ml-5 mt-5 phone:mt-8" style="background-image:url('{{ asset('build/static/person_3.jpg') }}')"></div>
                        <h1 class="font-prata tracking-[3px] font-bold text-lg mt-[33.5px] ml-5 tablet:text-xl phone:text-lg phone:ml-3">Mike Fisher</h1>
                        <div class="float-right flex items-center ml-auto mt-[30px] mr-10 phone:mt-10 phone:mr-4">
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-5 tablet:w-4 text-gray-300 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                    </div>
                    <p class="max-w-lg font-bold text-[15.1px] leading-6 tracking-[0.5px] text-black/60 mt-5 mx-auto tablet:text-sm tablet:max-w-md phone:max-w-sm smPhone:max-w-xs phone:mt-8">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea doloribus ducimus necessitatibus voluptatibus minus, hic saepe deleniti, numquam officia itaque quibusdam consequuntur error ipsa inventore provident aperiam cum est. Quis?"</p>
                </div>
                <div class="button-container w-[100px] mt-[200px]">
                    <div class="button before:bg-[#cca688]/40 before:hover:bg-[#cca688] before:duration-300"><i class="fas fa-angle-left"></i></div>
                    <div class="button before:bg-[#cca688]/40 before:hover:bg-[#cca688] before:duration-300"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <footer class="relative w-full h-[400px] mt-[470px] bg-no-repeat bg-cover bg-bottom bg-fixed before:absolute before:content-[''] before:bg-black/60 before:top-0 before:bottom-0 before:left-0 before:right-0 before:w-full before:z-10 phone:mt-[450px]" style="background-image:url('{{ asset('build/static/bg_1.jpg') }}')">
                <div class="relative z-20 w-3/5 h-[200px] text-center mx-auto translate-y-1/2 space-y-10 phone:w-11/12 phone:text-sm">
                    <h1 class="font-playfair font-bold text-3xl text-white phone:text-2xl">So Glam's Institut</h1>
                    <ul class="max-w-sm mx-auto mt-5 flex justify-between space-x-5 text-white/50">
                        <li><a class="hover:text-white" href="">Accueil</a></li>
                        <li><a class="hover:text-white" href="">Qui suis-je</a></li>
                        <li><a class="hover:text-white" href="">Services</a></li>
                        <li><a class="hover:text-white"href="">Gallerie</a></li>
                    </ul>
                    <div class="max-w-xs flex justify-center space-x-3 mx-auto mt-5">
                        <a href=""><i class="fa-brands fa-instagram text-xl text-[#cca688] hover:text-[#ff653c] bg-[#cca688]/40 py-3.5 px-4 rounded-full duration-300"></i></a>
                        <a class="hover:" href=""><i class="fa-brands fa-facebook text-xl text-[#cca688] hover:text-[#ff653c] bg-[#cca688]/40 py-3.5 px-4 rounded-full duration-300"></i></a>
                    </div>
                </div>
            </footer>
        </div>
    </main>
{% endblock %}