{% extends 'base.html.twig' %}

{% set noHeaderBG = true %}
{% set noDivBG = true %}
{% block headercss %}{% endblock %}

{% block body %}
    <main class="flex w-full">
        <section class="w-2/5 h-[90vh]">
            <div class="relative w-[150px] h-[150px] mt-[30px] mb-[15px] mx-auto bg-white drop-shadow-xl rounded-full text-center">
                <span class="absolute top-1/2 -translate-y-[44%] -translate-x-[48%] text-[56px] font-prata font-medium uppercase">{{ app.user.email[0:1] }}</span>
            </div>
            <div class="w-[160px] mx-auto">
                <h3 class="font-medium uppercase">{{ app.user.email }}</h3>
                <span class="text-red-500 text-sm">Compte non vérifié !</span>
            </div>
            <div>
                <a></a>
                <a></a>
            </div>
        </section>
        <section class="w-full h-[90vh]">
            <div data-controller="lazyload" data-src="https://institutlea.fx.salle2reunion.com/form/testpartial">

            </div>
        </section>
    </main>
{% endblock %}