{% extends 'base.html.twig' %}

{% set bodycss = "overflow-y-hidden" %}
{% set noHeaderBG = true %}
{% set noDivBG = true %}
{% set noNav = true %}
{% block headercss %} absolute z-50 w-full {% endblock %}

{% block body %}
    <div class="flex justify-center h-screen bg-cover bg-center bg-no-repeat" style="background-image:url('{{ asset('build/static/bg_1.jpg') }}')">
        <div data-aos="fade-up" data-aos-easing="ease-in-out"  data-aos-duration="1000" class="flex items-center w-full max-w-md px-6 mx-auto my-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <h2 class="font-prata leading-[35px] tracking-[4px] text-3xl font-bold">S'ENREGISTRER</h2>
                    <p class="mt-2 text-sm text-black/40 tracking-[2px]">L'équipe vous souhaite la bienvenue !</p>
                </div>
                <div class="mt-8">
                    <form method="post">
                        {% if errorsMail | length > 0 %}
                            <div>
                                <label for="email" class="block mb-2 text-xs leading-[22px] tracking-[1.5px]">Adresse-Mail</label>
                                <input type="email" name="email" id="email" value="{{ lastMail | default("") }}" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border-2 border-red-500 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white" />
                                {% for errorMail in errorsMail %}
                                    <label for="email" class="block mb-2 text-xs text-red-500 leading-[22px] tracking-[1.5px]">{{ errorMail }}</label>
                                {% endfor %}
                            </div>
                        {% else %}
                        <div>
                            <label for="email" class="block mb-2 text-xs leading-[22px] tracking-[1.5px]">Adresse-Mail</label>
                            <input type="email" name="email" id="email" value="{{ lastMail | default("") }}" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white" />
                        </div>
                        {% endif %}
                        {% if errorsPwd | length > 0 %}
                            <div class="mt-6">
                                <div class="flex justify-between mb-2">
                                    <label for="password" class="text-xs leading-[22px] tracking-[1.5px]">Mot de passe</label>
                                </div>
                                <input type="password" name="password" id="password" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border-2 border-red-500 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
                                <label for="password" class="text-xs text-red-500 leading-[22px] tracking-[1.5px]">Le mot de passe doit être minimum de 8 caractères et doit contenir une majuscule, minuscule et 1 chiffre</label>
                            </div>
                            <div class="mt-6">
                                <div class="flex justify-between mb-2">
                                    <label for="password" class="text-xs leading-[22px] tracking-[1.5px]">Confirmer mot de passe</label>
                                </div>
                                <input type="password" name="passwordC" id="passwordC" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border-2 border-red-500 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
                                <label for="password" class="text-xs text-red-500 leading-[22px] tracking-[1.5px]">Le mot de passe doit être minimum de 8 caractères et doit contenir une majuscule, minuscule et 1 chiffre</label>
                            </div>
                        {% else %}
                            <div class="mt-6">
                                <div class="flex justify-between mb-2">
                                    <label for="password" class="text-xs leading-[22px] tracking-[1.5px]">Mot de passe</label>
                                </div>
                                <input type="password" name="password" id="password" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
                            </div>
                            <div class="mt-6">
                                <div class="flex justify-between mb-2">
                                    <label for="password" class="text-xs leading-[22px] tracking-[1.5px]">Confirmer mot de passe</label>
                                </div>
                                <input type="password" name="passwordC" id="passwordC" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
                            </div>
                        {% endif %}
                        <div class="mt-6">
                            <button
                                    class="w-full px-4 py-2 tracking-[2px] text-white transition-colors transform bg-[#cca688] rounded-full hover:bg-[#8e6f57] focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 duration-300">
                                S'inscrire
                            </button>
                        </div>
                    </form>

                    <p class="mt-6 text-sm text-center tracking-[1px] text-black/50">Déjà un compte ?<a href="{{ path('app_connexion') }}" class="pl-2 text-[#cca688] focus:outline-none focus:underline hover:underline hover:scale-105">Connectez-vous</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


