{% extends 'base.html.twig' %}

{% set noHeaderBG = true %}
{% set noDivBG = true %}
{% block headercss %}{% endblock %}
{% block nav %}flex justify-between w-3/5 other:w-4/5 h-[70px] mx-auto items-center phone:w-11/12{% endblock %}

{% block body %}
    <main class="w-3/5 mx-auto">
        {#<div class="flex items-center w-4/5 p-10 mt-[30px] mb-[50px] mx-auto space-x-1 text-black/60">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2084 9.16665C15.2084 12.5 10.0001 16.0416 10.0001 16.0416C10.0001 16.0416 4.79175 12.5 4.79175 9.16665C4.79175 6.24998 7.23866 3.95831 10.0001 3.95831C12.7615 3.95831 15.2084 6.24998 15.2084 9.16665Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;"></path><path d="M11.875 9.16669C11.875 10.2022 11.0355 11.0417 10 11.0417C8.96447 11.0417 8.125 10.2022 8.125 9.16669C8.125 8.13115 8.96447 7.29169 10 7.29169C11.0355 7.29169 11.875 8.13115 11.875 9.16669Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;"></path></svg>
            <a class="tracking-[1px] underline" href="https://www.google.fr/maps/place/4+Rue+de+la+Lombardie,+78930+Guerville/@48.9446059,1.7350433,19.68z/data=!4m5!3m4!1s0x47e6bde331c09e37:0xb3d8831241fedb4c!8m2!3d48.9444497!4d1.7353126">4 Rue De La Lombardie, 78930 Guerville</a>
        </div>#}
        <div class="relative w-full p-10 mt-[50px] mb-[20px]">
            <h3 class="text-[#cca688]/80 font-prata font-semibold text-[20px] tracking-[2px]">1. <span class="text-black/80">Sélection de la prestation</span></h3>
            <div class="bg-white p-5 mt-[30px] drop-shadow-xl rounded-md">
                <section class="">
                    <h4 class="text-sm font-medium tracking-[1px]">{{ prestation.label }}</h4>
                    <div class="flex justify-between items-center text-[13px] text-black/80 font-semibold tracking-[0.5px] mt-1">
                        <div class="flex">
                            <span class="">{{ prestation.duree }}</span>
                            <div class="absolute right-5 top-[37%]">
                                <a href="#" class="text-sm font-medium text-[#cca688] tracking-[0.5px] hover:underline hover:text-red-500 cursor-pointer duration-300">Supprimer</a>
                            </div>
                            <span class="flex items-center before:content-[''] before:block before:w-[4px] before:h-[4px] before:bg-black/40 before:rounded-full before:ml-1.5 before:mr-1.5">{{ prestation.prix }} €</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="w-full p-10 mb-[50px] mx-auto">
            <h3 class="text-[#cca688]/80 font-prata font-semibold text-[20px] tracking-[2px]">2. <span class="text-black/80">Choix du créneau</span></h3>
            <div class="mt-[30px] py-[20px] bg-white drop-shadow-xl">
                <div class="flex w-full mx-auto">
                    {#{% for date in allDate|slice(0, 5) %}
                        <div class='relative bg-[#cca688] shadow-lg rounded-lg content-center justify-center'>
                            <span class="flex h-3 w-3 absolute -top-1 -right-1">
                                <span class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-[#cca688]"></span>
                                <span class="relative inline-flex rounded-full h-3 w-3 bg-[#8e6f57]"></span>
                            </span>
                            <p class='text-white/90 text-sm'>ab</p>
                        </div>
                    {% endfor %}#}
                </div>
            </div>
        </div>
        <div class="carousel w-full">
            <div id="slide1" class="carousel-item relative w-full">
                <div class="flex w-4/5 mx-auto bg-indigo-500 rounded-md space-x-10">
                    {% for date in allDate|slice(0, 5) %}
                        <div class='relative w-24 h-16 bg-[#cca688] shadow-lg rounded-lg content-center justify-center'>
                            <span class="flex h-3 w-3 absolute -top-1 -right-1">
                                <span class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-[#cca688]"></span>
                                <span class="relative inline-flex rounded-full h-3 w-3 bg-[#8e6f57]"></span>
                            </span>
                            <p class='text-white/90 text-sm'>ab</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide4" class="btn btn-circle">❮</a>
                    <a href="#slide2" class="btn btn-circle">❯</a>
                </div>
            </div>
            <div id="slide2" class="carousel-item relative w-full">
                <img src="https://placeimg.com/800/200/arch" class="w-full" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide1" class="btn btn-circle">❮</a>
                    <a href="#slide3" class="btn btn-circle">❯</a>
                </div>
            </div>
            <div id="slide3" class="carousel-item relative w-full">
                <img src="https://placeimg.com/800/200/arch" class="w-full" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide2" class="btn btn-circle">❮</a>
                    <a href="#slide4" class="btn btn-circle">❯</a>
                </div>
            </div>
            <div id="slide4" class="carousel-item relative w-full">
                <img src="https://placeimg.com/800/200/arch" class="w-full" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide3" class="btn btn-circle">❮</a>
                    <a href="#slide1" class="btn btn-circle">❯</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

