{% extends 'base.html.twig' %}

{% set noHeaderBG = true %}
{% set noDivBG = true %}
{% block headercss %}{% endblock %}
{% block nav %}flex justify-between w-3/5 other:w-4/5 h-[70px] mx-auto items-center phone:w-11/12{% endblock %}
{% block bgFooter %}background-image:url('{{ asset('build/static/bgTest.jpg') }}'){% endblock %}


{% block body %}

    <header class="relative w-full h-[400px] bg-cover bg-no-repeat bg-fixed before:absolute before:content-[''] before:bg-black/10 before:top-0 before:bottom-0 before:left-0 before:right-0 before:w-full before:z-10" style="background-image:url('{{ asset('build/static/bgTest.jpg') }}')">
        <div class="h-auto py-[150px] text-center font-medium">
            <h1 class="font-prata text-[46px] tracking-[12px] leading-[80px]">PRESTATIONS</h1>
            <p class="tracking-[2px] text-black/80">ACCUEIL PRESTATIONS</p>
        </div>
    </header>
    <main class="relative w-full">
        <div class="mt-[100px] mb-[50px] text-center font-medium">
            <h1 class="text-[#cca688] tracking-[4px] leading-[30px]">SERVICES</h1>
            <h2 class="font-prata text-[56px] tracking-[4px]">Catégories</h2>
        </div>
        <section class="sticky top-32 float-right my-[100px] mr-[200px] drop-shadow-xl rounded-md">
            <h3 class="text-xl font-semibold tracking-[1px] mb-[15px]">Horaire d'ouverture</h3>
            <div class="w-[350px] h-auto bg-white border rounded-md">
                <div class="w-4/5 m-[35px] mx-auto space-y-5 font-medium">
                    <div class="flex justify-between w-full border-b">
                        <h6>Lundi</h6>
                        <span>09:30 - 18:30</span>
                    </div>
                    <div class="flex justify-between w-full border-b">
                        <h6 class="text-black/50">Mardi</h6>
                        <span class="text-black/50">Fermé</span>
                    </div>
                    <div class="flex justify-between w-full border-b">
                        <h6 class="text-black/50">Mercredi</h6>
                        <span>09:30 - 18:30</span>
                    </div>
                    <div class="flex justify-between w-full border-b">
                        <h6 class="text-black/50">Jeudi</h6>
                        <span>09:30 - 18:30</span>
                    </div>
                    <div class="flex justify-between w-full border-b">
                        <h6 class="text-black/50">Vendredi</h6>
                        <span>09:30 - 18:30</span>
                    </div>
                    <div class="flex justify-between w-full border-b">
                        <h6 class="text-black/50">Samedi</h6>
                        <span>09:30 - 18:30</span>
                    </div>
                    <div class="flex justify-between w-full border-b">
                        <h6 class="text-black/50">Dimanche</h6>
                        <span class="text-black/50">Fermé</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-3/6 mt-[70px] mb-[100px] ml-[200px]">
            <h3 class="mb-[20px] font-semibold text-xl tracking-[2px]">Nos Soins Visages<span class="text-xs text-black-60"> By Onagrine</span></h3>
            <div class="border rounded-md shadow-md bg-white">
                <div class="m-[40px]">
                    <div class="w-full h-auto mt-[30px] items-center">
                        {% for Prestation in Prestations %}
                            <div class="flex justify-between w-full mb-[30px] border-b border-black/40">
                                <div class="flex-col">
                                    <h6 class="text-sm font-medium tracking-[1px]">{{ Prestation.Label }}</h6>
                                    <div @click.away="open = false" class="relative" x-data="{ open: false }">
                                        <button @click="open = !open" class="text-xs my-[10px] text-sm text-black/60 font-medium tracking-[0.5px]">
                                            <span>Plus de détails</span>
                                            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        </button>
                                        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="block w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
                                            <div class="px-2 py-2">
                                                <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #1</a>
                                                <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #2</a>
                                                <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-x-5">
                                    <span class="font-prata font-semibold tracking-[1px]">{{ Prestation.Prix }}€</span>
                                    <a href="{{ path('app_reservationpresta', {'id':  Prestation.Id, 'label': Prestation.Label, 'duree': Prestation.Duree, 'prix': Prestation.Prix}) }}" class="bg-[#cca688] py-[6px] px-[8px] rounded-md text-white text-sm tracking-[1.5px] border hover:bg-transparent hover:border-[#cca688] hover:border hover:text-[#cca688] duration-300">Choisir</a>
                                </div>
                            </div>
                        {% endfor %}
                        <button class="font-prata text-sm text-[#cca688] tracking-[1px] font-medium">Voir les ? autres prestations<i class="ml-2 text-xs fas fa-chevron-down"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
