{% extends 'base.html.twig' %}

{% block body %}
    <!-- <div x-data="{ prestaModal : false, prestaTest: false }">
    <template @presta-modal.window="prestaModal = true;" x-if="prestaModal">
        <div x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" x-on:click.away="imgModalSrc = ''" class="p-2 fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center bg-black bg-opacity-75">
            <div @click.away="prestaModal = ''" class="flex flex-col max-h-full overflow-auto">
                <div class="z-50">
                    <button @click="prestaModal = ''" class="float-right pb-4 outline-none focus:outline-none">
                        <svg class="fill-current text-white " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" class="w-[800px] h-auto bg-white py-[50px] text-center rounded-md">
                    <h6 class="font-prata text-2xl tracking-[2px]">PRICE</h6>
                    <p class="mt-2 text-black/40 tracking-[1px]">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                    <div class="mt-[50px] space-y-8 items-center">
                        <div class="flex justify-between w-11/12 mx-auto items-center">
                            <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                            <div class="space-x-4">
                                <span class="">25min / 25€</span>
                                <button @click="$dispatch('presta-test'), prestaModal = ''" class="font-prata font-medium bg-[#cca688] text-[12px] text-white tracking-[2px] px-4 py-2 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Rendez-vous</button>
                            </div>
                        </div>
                        <div class="flex justify-between w-11/12 mx-auto items-center">
                            <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                            <div class="space-x-4">
                                <span class="">25min / 25€</span>
                                <button @click="$dispatch('presta-test')" class="font-prata font-medium bg-[#cca688] text-[12px] text-white tracking-[2px] px-4 py-2 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Rendez-vous</button>
                            </div>
                        </div>
                        <div class="flex justify-between w-11/12 mx-auto items-center">
                            <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                            <div class="space-x-4">
                                <span class="">25min / 25€</span>
                                <button class="font-prata font-medium bg-[#cca688] text-[12px] text-white tracking-[2px] px-4 py-2 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Rendez-vous</button>
                            </div>
                        </div>
                        <div class="flex justify-between w-11/12 mx-auto items-center">
                            <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                            <div class="space-x-4">
                                <span class="">25min / 25€</span>
                                <button class="font-prata font-medium bg-[#cca688] text-[12px] text-white tracking-[2px] px-4 py-2 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Rendez-vous</button>
                            </div>
                        </div>
                        <div class="flex justify-between w-11/12 mx-auto items-center">
                            <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                            <div class="space-x-4">
                                <span class="">25min / 25€</span>
                                <button class="font-prata font-medium bg-[#cca688] text-[12px] text-white tracking-[2px] px-4 py-2 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Rendez-vous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template @presta-test.window="prestaTest = true;" x-if="prestaTest">
        <div x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" x-on:click.away="imgModalSrc = ''" class="p-2 fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center bg-black bg-opacity-75">
            <div @click.away="prestaTest = ''" class="flex flex-col max-h-full overflow-auto">
                <div class="z-50">
                    <button @click="prestaTest = ''" class="float-right pb-4 outline-none focus:outline-none">
                        <svg class="fill-current text-white " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" class="w-[800px] h-auto bg-white py-[50px] text-center rounded-md">
                    <h6 class="font-prata text-2xl tracking-[2px]">PRICE</h6>
                    <p class="mt-2 text-black/40 tracking-[1px]">Far far away, behind the word mountains, far from the countries Vokalia.</p>
                    <div class="mt-[50px] space-y-8 items-center">
                        <div class="flex justify-between w-11/12 mx-auto items-center">
                            <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                            <div class="space-x-4">
                                <span class="">25min / 25€</span>
                                <button class="font-prata font-medium bg-[#cca688] text-[12px] text-white tracking-[2px] px-4 py-2 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Rendez-vous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<div class="relative w-4/5 mx-auto grid grid-rows-1 grid-flow-col gap-x-16">
    <div class="max-w-md h-auto shadow-2xl rounded-md">
        <div class="w-full h-[180px] bg-cover bg-center rounded-t-md" style="background-image: url('{{ asset('build/static/soinVisageOnagrine.jpeg') }}')"></div>
        <div class="flex justify-between w-11/12 mx-auto mt-10 bg-[#cca688] h-[150px] rounded-md shadow-xl">
            <div class="h-auto pt-[50px]">
                <h1 class="font-prata pl-[20px] text-[24px] font-semibold tracking-[2px] text-white">SOINS VISAGES</h1>
                <span class="pl-[20px] text-sm text-white"> By Onagrine</span>
            </div>
            <div class="pt-[40px] pr-[20px]">
                <h1 class="font-prata font-semibold text-[35px] text-white text-right">25€</h1>
                <span class="text-sm text-white/70">Commence à partir de</span>
            </div>
        </div>
        <div class="my-[50px] space-y-6 text-sm">
            <div class="flex justify-between w-4/5 mx-auto">
                <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                <span class="text-right"><span class="text-black/60">à partir de </span> 25€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1 class="pr-[60px]">• Bâptème Institut Ado et Jeune Adultes pour les moins de 20ans</h1>
                <span class="text-right"><nobr>29€</nobr></span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Mon Rituel Bien Être</h1>
                <span class="text-right">49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Visibly Pure</h1>
                <span class="text-right">49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Coup d'Eclat</h1>
                <span class="text-right">49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Global Essence</h1>
                <span class="text-right">59€</span>
            </div>
        </div>
        <div class="flex justify-center pb-[30px]">
            <button @click="$dispatch('presta-modal')" class="font-prata font-medium bg-[#cca688] text-[15px] text-white tracking-[4px] px-5 py-4 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Choix de la préstations</button>
        </div>
    </div>
    <div class="max-w-md h-auto shadow-2xl rounded-md">
        <div class="w-full h-[180px] bg-cover bg-center rounded-t-md" style="background-image: url('{{ asset('build/static/soinVisageOnagrine.jpeg') }}')"></div>
        <div class="flex justify-between w-11/12 mx-auto mt-10 bg-[#cca688] h-[150px] rounded-md shadow-xl">
            <div class="h-auto pt-[50px]">
                <h1 class="font-prata pl-[20px] text-[24px] font-semibold tracking-[2px] text-white">SOINS VISAGES</h1>
                <span class="pl-[20px] text-sm text-white"> By Onagrine</span>
            </div>
            <div class="pt-[40px] pr-[20px]">
                <h1 class="font-prata font-semibold text-[35px] text-white text-right">25€</h1>
                <span class="text-sm text-white/70">Commence à partir de</span>
            </div>
        </div>
        <div class="my-[50px] space-y-6 text-sm">
            <div class="flex justify-between w-4/5 mx-auto">
                <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                <span class="text-right">25min / 25€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1 class="pr-4">• Bâptème Institut Ado et Jeune Adultes pour les moins de 20ans</h1>
                <span class="text-right"><nobr>1h / 29€</nobr></span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Mon Rituel Bien Être</h1>
                <span class="text-right">1h / 49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Visibly Pure</h1>
                <span class="text-right">1h / 49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Coup d'Eclat</h1>
                <span class="text-right">1h / 49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Global Essence</h1>
                <span class="text-right">1h / 59€</span>
            </div>
        </div>
        <div class="flex justify-center pb-[30px]">
            <button id="button-appears" class="font-prata font-medium bg-[#cca688] text-[15px] text-white tracking-[4px] px-5 py-4 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Choix de la préstations</button>
        </div>
    </div>
    <div class="max-w-md h-auto shadow-2xl rounded-md">
        <div class="w-full h-[180px] bg-cover bg-center rounded-t-md" style="background-image: url('{{ asset('build/static/soinVisageOnagrine.jpeg') }}')"></div>
        <div class="flex justify-between w-11/12 mx-auto mt-10 bg-[#cca688] h-[150px] rounded-md shadow-xl">
            <div class="h-auto pt-[50px]">
                <h1 class="font-prata pl-[20px] text-[24px] font-semibold tracking-[2px] text-white">SOINS VISAGES</h1>
                <span class="pl-[20px] text-sm text-white"> By Onagrine</span>
            </div>
            <div class="pt-[40px] pr-[20px]">
                <h1 class="font-prata font-semibold text-[35px] text-white text-right">25€</h1>
                <span class="text-sm text-white/70">Commence à partir de</span>
            </div>
        </div>
        <div class="my-[50px] space-y-6 text-sm">
            <div class="flex justify-between w-4/5 mx-auto">
                <h1 class="">• Soin Contour des Yeux ou Décolté</h1>
                <span class="text-right">25min / 25€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1 class="pr-4">• Bâptème Institut Ado et Jeune Adultes pour les moins de 20ans</h1>
                <span class="text-right"><nobr>1h / 29€</nobr></span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Mon Rituel Bien Être</h1>
                <span class="text-right">1h / 49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Visibly Pure</h1>
                <span class="text-right">1h / 49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Coup d'Eclat</h1>
                <span class="text-right">1h / 49€</span>
            </div>
            <div class="flex justify-between w-4/5 mx-auto">
                <h1>• Global Essence</h1>
                <span class="text-right">1h / 59€</span>
            </div>
        </div>
        <div class="flex justify-center pb-[30px]">
            <button class="font-prata font-medium bg-[#cca688] text-[15px] text-white tracking-[4px] px-5 py-4 rounded-md border border-[#cca688] hover:bg-transparent hover:text-[#cca688] duration-300">Choix de la préstations</button>
        </div>
    </div>
</div> -->
{% endblock %}

{% block headercss %}

{% endblock %}