<!DOCTYPE html>
<html class="bg-[#F7F7F7]" lang="fr">
    <head>
{#        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="bc02b944-9370-4eef-a741-ef87d7efc97f" data-blockingmode="auto" type="text/javascript"></script>#}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" />
        <title>{% block title %}So Glam's Institut - Institut de beauté{% endblock %}</title>
        <link rel="icon" href="build/static/icon.svg">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body x-data="{ open: true }" class="w-full h-full text-black font-open bg-[#F7F7F7] overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-black/60 {{ bodycss | default }} ">
        <header class="{% block headercss %}w-full h-screen text-white bg-fixed bg-no-repeat bg-cover bg-center tablet:bg-local phone:h-[700px] {% endblock %}"
               {% if noHeaderBG | default(false) == false %}
                    style="background-image:url('{{ asset('build/static/bg_1.jpg') }}')"
                {% endif %}>
            {% if noNav | default(false) == true %}
            <nav class="relative z-50 flex justify-around w-3/5 other:w-4/5 h-[100px] mx-auto items-center">
                <ul class="inline-flex space-x-16 text-[13px] leading-[22px] tracking-[1.5px] smLaptop:hidden text-black">
                    <li>
                        <a class="hover:text-[#cca688] duration-300" href="{{ path('app_home') }}">ACCUEIL</a>
                    </li>
                    <li>
                        <a class="hover:text-[#cca688] duration-300" href="#">QUI-SUIS-JE</a>
                    </li>
                    <li>
                        <a href="{{ path('app_home') }}" class="text-[28px] tracking-[2px] text-[#cca688] font-prata font-semibold smLaptop:text-2xl">SO GLAM'S INSTITUT</a>
                    </li>
                    <li>
                        <a class="hover:text-[#cca688] duration-300" href="{{ path('app_servicepresta') }}">PRESTATIONS</a>
                    </li>
                    <li>
                        <a class="hover:text-[#cca688] duration-300" href="#">GALLERIE</a>
                    </li>
                </ul>
                <div class="hidden smLaptop:block">
                    <button id="burger" class="w-10 h-10 relative text-black focus:outline-none" :class="{'text-black': !open}" @click="open = ! open">
                        <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': !open,' -translate-y-1.5': open }"></span>
                            <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'opacity-0': !open } "></span>
                            <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': !open, ' translate-y-1.5': open}"></span>
                        </div>
                    </button>
                </div>
            </nav>
            {% else %}
            <nav class="{% block nav %} flex justify-between w-3/5 other:w-4/5 h-[100px] mx-auto items-center phone:w-11/12 {% endblock %}">
                <a href="{{ path('app_home') }}" class="flex text-[24px] leading-10 tracking-[4px] text-[#cca688] font-prata font-medium hover:text-[#cca688] duration-300 smLaptop:text-2xl phone:text-xl">SO GLAM'S INSTITUT</a>
                <ul class="inline-flex space-x-10 text-[13px] font-light tracking-[1.5px] smLaptop:hidden text-black">
                    <li class="">
                        <a class="pt-2 hover:text-[#cca688] duration-300" href="{{ path('app_home') }}">ACCUEIL</a>
                    </li>
                    <li class="">
                        <a class="hover:text-[#cca688] duration-300" href="#">QUI-SUIS-JE</a>
                    </li>
                    <li class="">
                        <a class="hover:text-[#cca688] duration-300" href="{{ path('app_servicepresta') }}">PRESTATIONS</a>
                    </li>
                    <li class="">
                        <a class="hover:text-[#cca688] duration-300" href="#">GALLERIE</a>
                    </li>
                    <li class="cursor-pointer">
                        {% if app.user is null %}
                            <a class="text-white bg-[#cca688] py-3 px-6 rounded-full hover:bg-[#8e6f57] duration-300" href="{{ path('app_connexion') }}">CONNEXION</a>
                        {% else %}
                            <button data-dropdown-toggle="dropdownInformation" class="relative w-[100px] hover:text-[#cca688]" @click.away="open=true" @click="open = !open">
                                <h1 class="pr-3 text-ellipsis overflow-hidden whitespace-nowrap duration-300 uppercase">{{ app.user.email }}</h1><i class="absolute -right-2 top-[4px] text-[11px] font-light fas fa-chevron-down duration-300" :class="{'rotate-0': open, 'rotate-180': !open}"></i>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                <div class="px-4 py-3 text-xs text-gray-900 dark:text-white">
                                    {% if is_granted("ROLE_NOTVERIF") == "ROLE_NOTVERIF" %}
                                        <div class="text-red-500">Compte pas vérifié !</div>
                                    {% else %}
                                    <div>Bonnie Green</div>
                                    {% endif %}
                                    <div class="font-medium truncate">{{ app.user.email }}</div>
                                </div>
                                <ul class="py-1 text-xs text-gray-700 dark:text-gray-200 tracking-[0.8px]" aria-labelledby="dropdownInformationButton">
                                    <li>
                                        <a href="{{ path('app_profil') }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profil</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                                    </li>
                                </ul>
                                <div class="py-1">
                                    <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-xs tracking-[0.8px] text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Déconnexion</a>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                </ul>
                <div class="hidden smLaptop:block">
                    <button id="burger" class="w-10 h-10 relative focus:outline-none" :class="{'text-black': !open, 'text-white': open}" @click="open = ! open">
                        <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': !open,' -translate-y-1.5': open }"></span>
                            <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'opacity-0': !open } "></span>
                            <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': !open, ' translate-y-1.5': open}"></span>
                        </div>
                    </button>
                </div>
            </nav>
            {% endif %}
            {% if is_granted("ROLE_NOTVERIF") %}
                {#<div id="alert-2" class="absolute top-32 left-1/2 -translate-x-1/2 items-center w-[42%] flex p-4 mx-auto text-red-700 bg-red-100 rounded-lg dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Info</span>
                    <div class="ml-3 text-sm font-medium">
                        <p class="uppercase">Votre compte n'est pas vérifié vous ne pourrez pas accéder à toutes les fonctionnalitées.</p>
                        <p class="uppercase mt-2">Veuillez cliquer sur lien dans le mail reçu.</p>
                    </div>
                    <div>

                    </div>
                </div>#}
                <div id="alert-2" class="w-auto fixed z-[10000] bottom-5 right-5 p-5 text-white alert bg-red-600/80 shadow-lg">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <span class="text-sm tracking-[1px]">Attention votre compte n'est pas vérifié !<br>Pour activer votre compte veuillez cliquer sur le lien reçu dans le mail.</span>
                        <button data-dismiss-target="#alert-2" aria-label="Close" class="btn btn-sm btn-ghost">Compris !</button>
                    </div>
                </div>
            {% endif %}
            {% if noDivBG | default(false) == false %}
                <div data-aos="fade-up" data-aos-easing="ease-in-out"  data-aos-duration="1000" class="w-3/5 mx-auto my-[120px] text-center smLaptop:w-full phone:text-center phone:mt-[100px]">
                    <img class="mx-auto w-24 h-24 mb-[15px]" src="{{ asset('build/static/logo.png') }}">
                    <h1 class="font-prata text-black text-[40px] leading-[56px] tracking-[16px] smLaptop:text-3xl phone:text-2xl phone:tracking-[7px]">SO GLAM'S INSTITUT</h1>
                    <p class="mt-2 font-prata italic font-semibold tracking-[2px] text-black/60 phone:text-base">Institut de beauté, bien-être et spa</p>
                    <p class="mt-5 py-7 pb-9 leading-[40px] max-w-3xl smLaptop:max-w-2xl mx-auto text-black/40 font-medium phone:mt-1">So Glam's Institut, est un institut de beauté et spa traditionnel où vous pourrez découvrir une mise en beauté de la tête au pieds. Un espace dédié à la femme d'aujourd'hui et de demain.</p>
                    <div class="space-x-10 mt-4">
                        <a class="border bg-[#cca688] text-[14px] leading-[20px] tracking-[2px] font-semibold py-6 px-10 hover:bg-[#c8806c] hover:bg-transparent hover:border-[#cca688] hover:text-[#cca688] duration-300" href="#">RENDEZ-VOUS</a>
                        <a class="bg-transparent border border-[#cca688] text-[14px] text-[#cca688] leading-[20px] tracking-[2px] font-semibold py-6 px-10 hover:bg-[#cca688] hover:text-white duration-300" href="#">PRESTATIONS</a>
                    </div>
                </div>
            {% endif %}
        </header>
        {% block body %}
        {% endblock %}
{#        <script id="CookieDeclaration" src="https://consent.cookiebot.com/bc02b944-9370-4eef-a741-ef87d7efc97f/cd.js" type="text/javascript" async></script>#}
        <script src="https://kit.fontawesome.com/b8c6b83e3e.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    </body>
</html>
