{% extends 'base.html.twig' %}

{% set noNav = true %}
{% set noHeaderBG = true %}
{% set noDivBG = true %}
{% block headercss %} relative z-50 w-full {% endblock %}

{% block body %}

    <div class="w-3/5 h-[200px] mx-auto bg-red-500 rounded-xl">
        {% for error in errors %}
            <h1 class="text-3xl font-bold">{{ error }}</h1>
        {% endfor %}
    </div>

{% endblock %}

